<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bleep bloop</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body class="flex-column min-100-vh">
    <main class="col-auto">
      {{{body}}}
    </main>
  </body>

</html>