<div class="">
  <div class="r">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="">
    <div>
      <label for="password-input-login" class="form-label">Password</label>
      <input type="password" id="password-input-login" />
    </div>
    <button type="submit" id="login-btn" class="btn">Login</button>
  </form>
</div>

<script src="/js/login.js"></script>